-- Check if wallet_socials table exists and has data
SELECT 
  schemaname, 
  tablename, 
  rowsecurity as rls_enabled
FROM pg_tables 
WHERE tablename = 'wallet_socials';

-- Check current data in wallet_socials
SELECT 
  id,
  wallet_address,
  provider,
  provider_username,
  verified_at,
  created_at
FROM wallet_socials 
WHERE wallet_address = '0x6CB435348f84638b6E2470835E06387448f7c9Ef'
ORDER BY created_at DESC;

-- Check total count
SELECT COUNT(*) as total_records FROM wallet_socials;
